@import "globals";
@import "colors";
@import "extends";
@import "fonts";

* { box-sizing: border-box; }
body, html {
	padding: 0;
	margin: 0;
}
html {
	height: 100%;
}
body {
	min-height: 100%;
	font-family: "Roboto", sans-serif;
}

@import "general";
@import "login";