@import "globals";
@import "colors";
@import "extends";
@import "mixins";
@import "fonts";

* { box-sizing: border-box; }
body, html {
	padding: 0;
	margin: 0;
}
html {
	height: 100%;
	overflow: hidden;
}
body {
	height: 100%;
	font-family: "Roboto", sans-serif;
}

@import "general";
@import "layout";
@import "loading";
@import "sidebar";
@import "login";
@import "releases";
@import "downloads";
@import "settings";