// Forms and Buttons
button {
	cursor: pointer;
	background: #00f;
	border: 0px none;
	@include colors-dark;

	&:active {
		@include colors-primary;
	}
}

input, button {
	font-family: inherit !important;
}

form {
	input, button {
		display: block;
		width: 100%;
		height: 40px;
		padding: 0 1rem;
	}
	input, .error {
		margin-bottom: $whitespace;
	}
}