// Forms and Buttons
button {
	cursor: pointer;
	border: 0px none;
	&:active, &:focus { outline: 0 none; }

	min-width: 100px;

	&.md-button {
		padding: 0.5em 0.7em;
	}
}

input, button {
	font-family: "Roboto";
}

.invisible {
	visibility: hidden;
}