// Forms and Buttons
button {
	cursor: pointer;
	background: #00f;
	border: 0px none;
	@include colors-dark;

	&:active {
		@include colors-primary;
	}
}

input, button {
	font-family: inherit !important;
}

form {
	input, button {
		display: block;
		width: 100%;
		height: 40px;
		padding: 0 1rem;
	}
	input, .error {
		margin-bottom: $whitespace;
	}
}

// The spinner overlay
#spinner-overlay {
	position: fixed;
	z-index: 9001;
	top: 0; left: 0;
	width: 100%; height: 100%;

	background: repeating-linear-gradient(-45deg, rgba(53,53,53,0.92),
		rgba(50,50,50,0.92) 193px, #000 0, #000 193px);

	#spinner-message {
		position: absolute;
		left: 50%; transform: translateX(-50%);
		top: calc(50% + 50px);
		color: #fff;
		font-family: "Roboto Light";
		text-shadow: 1px 1px 2px rgba(0,0,0, 0.5);
	}
}