$sidebar-width: 300px;

// The outer container
#container {
	@extend %clearfix;
	height: 100%;
}

#sidebar, #content {
	height: 100%;
	overflow-y: auto;
}

// The sidebar
#sidebar {
	float: left;

	width: $sidebar-width;

	@include colors-primary;

	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

// The content
#content {
	float: left;
	padding: $whitespace;

	width: calc(100% - #{$sidebar-width});
}