$sidebar-width: 300px;

#sidebar, #content {
	overflow-y: auto;
}

#sidebar {
	width: $sidebar-width;
	position: fixed;
}

#sidebar + #content {
	margin-left: $sidebar-width;
}

#content {
	padding: 20px;
}