.release-wrapper {
	display: inline-block;
	vertical-align: top;

	width: 33.333333%;
	padding: 0.5em;
}

@media(min-width: 1024px) { .release-wrapper { width: 25%; } }
@media(min-width: 1280px) { .release-wrapper { width: 20%; } }
@media(min-width: 1600px) { .release-wrapper { width: 16.666666%; } }

.release {
	overflow: hidden;
	position: relative;
	width: 100%; height: 100%;

	margin-bottom: 1em;
}

.release .release-text {
	.release-artist, .release-title {
		margin: 0.5em 0 0 0;
		color: #666;
	}

	.release-artist {
		text-transform: uppercase;
		font-size: 0.8em;
	}
	.release-title {
		font-size: 1em;
	}
}

.cover {
	$selected-green: #cddc39;

	position: relative;
	width: 100%;
	height: 100%;
	padding-top: 100%; // whee, nice hack!

	cursor: pointer;
	display: block;
	overflow: hidden;

	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;

	-webkit-user-select: none;

	.selected-overlay {
		z-index: 5;
		display: none;
		position: absolute; top: 0; right: 0;
		width: 10px; height: 100%;
		background: $selected-green;
	}
	.selected & .selected-overlay {
		display: block;
	}

	.select-overlay {
		position: absolute;
		top: 0; left: 0;
		width: 100%; height: 100%;

		background: rgba(0, 0, 0, 0.4);
		text-align: center;

		.overlay-text {
			position: relative;
			top: 50%; transform: translateY(-50%);

			color: white;
		}
	}

	.select-overlay {
		z-index: 1;

		.selector {
			$selector-size: 50px;
			width: $selector-size;
			height: $selector-size;
			line-height: $selector-size;
			border-radius: 50%;

			display: inline-block;

			background: rgba(0, 0, 0, 0.4);
			border: 3px solid #ccc;
			font-size: 1.4em;
		}
	}
	.selected & .select-overlay .selector {
		border-color: $selected-green;
	}

	.select-overlay { display: none; }
	&:hover .select-overlay { display: block; }
}

#page-navigation {
	@extend %clearfix;
	position: relative;

	padding: 0.5em;

	height: 60px;

	button {
		padding: 1em;

		@include rounded-shadow-button(3px);
		&#prev-page {
			float: left;
		}
		&#next-page {
			float: right;
		}
	}

	#current-page {
		position: absolute;
		top: 0; left: 0;
		width: 100%; height: 100%;

		z-index: -1;

		text-align: center;
		display: table;

		> div {
			display: table-cell;
			vertical-align: middle;
		}
	}
}

#no-releases {
	text-align: center;
}