form {
	width: 100%;
	position: relative;

	input {
		width: 100%;
	}

	.draggable {
		position: relative;

		.drag-handle {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
}

#save-settings {
	float: right;
	margin-top: 1em;
}