form {
	width: 100%;
	position: relative;

	input, button {
		height: 30px;
	}
}

.setting-container {
	width: 100%;
}
#setting-download-dir {
	
}

#save-settings {
	text-align: right;
	margin-top: 1em;
}