$subs-height: 30px;
$sidebar-whitespace: 10px;

#sidebar > * {
	padding-left: $whitespace;
	padding-right: $whitespace;
}
#sidebar hr {
	margin-left: $whitespace / 2;
	margin-right: $whitespace / 2;

	@include colors-accent;
	height: 2px;
	border: 0 none;
}

.subscription {
	box-sizing: initial;
	height: $subs-height;
	line-height: $subs-height;

	font-family: "Roboto Condensed";
	cursor: pointer;

	white-space: nowrap;
	overflow-x: hidden;
	text-overflow: ellipsis;

	&:hover {
		@include colors-accent;
	}
	&.active {
		@include colors-accent2;
	}

	.subscription-thumb {
		float: left;

		width: auto;
		height: $subs-height;

		margin-right: $sidebar-whitespace;
	}

	padding-top: $sidebar-whitespace;
	padding-bottom: $sidebar-whitespace;
}