$subs-height: 30px;
$sidebar-whitespace: 10px;

#sidebar > * {
	padding-left: $whitespace;
	padding-right: $whitespace;
}
#sidebar hr {
	margin-left: $whitespace / 2;
	margin-right: $whitespace / 2;

	@include colors-accent;
	height: 2px;
	border: 0 none;
}

.subscription {
	box-sizing: initial;
	height: $subs-height;
	line-height: $subs-height;

	font-family: "Roboto Condensed";
	cursor: pointer;

	white-space: nowrap;
	overflow-x: hidden;
	text-overflow: ellipsis;

	&:hover {
		@include colors-accent;
	}
	&.active {
		@include colors-accent2;
	}

	.subscription-thumb {
		float: left;

		width: $subs-height;
		height: $subs-height;

		background-size: cover;
		background-position: center center;

		margin-right: $sidebar-whitespace;
	}

	padding-top: $sidebar-whitespace;
	padding-bottom: $sidebar-whitespace;
}

form#release-filter {
	margin: 1em 0 0.5em 0;

	input {
		margin: 0;
	}
}

#download-button {
	margin-left: $whitespace;
	margin-right: $whitespace;

	width: calc(100% - #{$whitespace * 2});
}