$subs-height: 30px;
$sidebar-whitespace: 10px;

#sidebar {
	md-toolbar {
		margin-bottom: 8px;
	}
	[layout-padding] {
		padding-left: $sidebar-whitespace;
		padding-right: $sidebar-whitespace;
	}

	button ~ button {
		margin-left: 0.5em !important;
	}

	#download-button {
		margin-top: 8px;
		button {
			width: 100%;
			font-size: 1.2em;
		}
	}

	#sidebar-actions {
		margin-bottom: $sidebar-whitespace;
	}

	#search-box {
		margin-top: 0;
	}
}

.subscription {
	box-sizing: initial;
	height: $subs-height;
	line-height: $subs-height;

	font-family: "Roboto Condensed";
	cursor: pointer;

	white-space: nowrap;
	overflow-x: hidden;
	text-overflow: ellipsis;

	&:hover {
		@include colors-accent;
	}
	&.active {
		@include colors-accent2;
	}

	.subscription-thumb {
		float: left;

		width: $subs-height;
		height: $subs-height;

		background-size: cover;
		background-position: center center;

		margin-right: $sidebar-whitespace;
	}

	padding: $sidebar-whitespace;
}