<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<!-- Angular -->
	<script src="components/angular/angular.min.js"></script>
	<!-- Spinner -->
	<script src="components/spinjs/spin.js"></script>

	<!-- Own code -->
	<script src="dist/app.js"></script>
	<link rel="stylesheet" href="dist/app.css">
</head>
<body ng-app="dripdownode" ng-controller="MainController as ctrl">
	<div id="spinner-overlay" ng-show="ctrl.loading">
		<div id="spinner-message">{{ctrl.loadingMsg || 'Please wait...'}}</div>
	</div>
	<div id="login-overlay" ng-show="!ctrl.loggedIn && ctrl.loginStateFetched">
		<div id="login-vcenter">
			<div id="login-wrapper">
				<div id="login-modal">
					<h1>The Drip Downloader</h1>
					<form ng-submit="ctrl.login()">
						<div class="error"
							ng-show="ctrl.user.loginMsg">{{ctrl.user.loginMsg}}</div>
						<input type="text" placeholder="Your drip.fm email"
							ng-model="ctrl.user.email">
						<input type="password" placeholder="Your drip.fm password"
							ng-model="ctrl.user.password">
						<button>Log in!</button>
					</form>
				</div>
			</div>
		</div>
	</div>

	<div id="content" ng-show="ctrl.loggedIn">
		<div id="sidebar">
			<h3>Logged in as {{ctrl.user.data.firstname}} {{ctrl.user.data.lastname}}</h3>
			<ul>
				You have {{ctrl.user.data.memberships.length}} active subscriptions:
				<li ng-repeat="sub in ctrl.user.data.memberships">
					<img ng-src="{{sub.creative.avatar_thumb_url}}" width="20" height="20">
					{{sub.creative.service_name}}
				</li>
			</ul>
		</div>
	</div>
</body>
</html>