<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<base href="/">

	<!-- ES6 Shim -->
	<script src="components/es6-shim/es6-shim.js"></script>
	<!-- Socket.IO -->
	<script src="/socket.io/socket.io.js"></script>
	<!-- Angular -->
	<script src="components/angular/angular.js"></script>
	<script src="components/angular-route/angular-route.js"></script>
	<!-- Lo-Dash, thank you based JDD -->
	<script src="components/lodash/dist/lodash.js"></script>
	<!-- Spinner -->
	<script src="components/spinjs/spin.js"></script>

	<!-- Own code -->
	<script src="dist/app.js"></script>
	<link rel="stylesheet" href="dist/app.css">
</head>
<body ng-app="dripdownode" ng-controller="MainController as ctrl">
	<div id="spinner-overlay" ng-show="ctrl.loading_state.loading">
		<div id="spinner-message">{{ctrl.loading_state.message || "Please wait..."}}</div>
	</div>
	<div id="login-overlay"
		ng-show="ctrl.login_state.fetched && !ctrl.login_state.logged_in">
		<div id="login-vcenter">
			<div id="login-wrapper">
				<div id="login-modal">
					<h1>The Drip Downloader</h1>
					<form ng-submit="ctrl.login()">
						<div class="error"
							ng-show="ctrl.login_state.message">{{ctrl.login_state.message}}</div>
						<input type="text" placeholder="Your drip.fm email"
							ng-model="ctrl.user.email">
						<input type="password" placeholder="Your drip.fm password"
							ng-model="ctrl.user.password">
						<button>Log in!</button>
					</form>
				</div>
			</div>
		</div>
	</div>

	<div id="container" ng-view></div>
</body>
</html>
