<md-toolbar
	ng-class="dl_ctrl.error ? 'md-red-theme' : 'md-indigo-theme'">
	<div class="md-toolbar-tools">
		<span class="md-flex" ng-if="!dl_ctrl.error">
			{{dl_ctrl.releases | doneDownloads}} of {{dl_ctrl.releases | objectLength}}
		</span>
		<span class="md-flex" ng-if="dl_ctrl.error">
			Error: {{dl_ctrl.error}}
		</span>
	</div>
</md-toolbar>

<div id="content">
	<div ng-repeat="release in dl_ctrl.releases" class="release-download">
		<div class="cover-wrapper">
			<div class="cover"
				ng-style="release.cover.cover.thumb.url | backgroundImage"></div>
		</div>

		<div class="info-wrapper">
			<div class="release-info">
				{{release.artist}} — {{release.title}}
				<small ng-if="release.download.format">
					(as {{release.download.format | uppercase}})
				</small>
			</div>
			<div class="download-state">{{release.download.state || "Waiting"}}</div>
			<md-progress-linear
				ng-class="release.download.error ? 'md-red-theme' : 'md-indigo-theme'"
				md-mode="{{release.download.state | downloadMode}}"
				ng-value="release.download.progress">
			</md-progress-linear>
		</div>
	</div>
</div>