<div id="content">
	<div id="downloads-info">
		<div id="downloads-total">
			<span ng-if="!dl_ctrl.error">
				{{dl_ctrl.releases | doneDownloads}} of {{dl_ctrl.releases | objectLength}}
			</span>
			<span ng-if="dl_ctrl.error">
				Error: {{dl_ctrl.error}}
			</span>
		</div>
	</div>

	<div ng-repeat="release in dl_ctrl.releases" class="release-download">
		<div class="cover-wrapper">
			<div class="cover"
				ng-style="release.cover.cover.thumb.url | backgroundImage"></div>
		</div>

		<div class="info-wrapper">
			<div class="release-info">
				{{release.artist}} — {{release.title}}
				<small ng-if="release.download.format">
					(as {{release.download.format | uppercase}})
				</small>
			</div>
			<div class="download-state">{{release.download.state || "Waiting"}}</div>
			<div class="download-progress">
				<div class="progress-bar"
				ng-class="release.download | progressClass"
				ng-style="release.download.progress | progressWidth"></div>
			</div>
		</div>
	</div>
</div>