<md-toolbar ng-if="!dl_ctrl.error">
	<div class="md-toolbar-tools">
		<span class="md-flex">
			{{dl_ctrl.releases | doneDownloads}} of {{dl_ctrl.releases | objectLength}}
		</span>
	</div>
</md-toolbar>
<md-toolbar md-theme="red" ng-if="dl_ctrl.error">
	<div class="md-toolbar-tools">
		<span class="md-flex">
			Error: {{dl_ctrl.error}}
		</span>
	</div>
</md-toolbar>

<div id="content">
	<div ng-repeat="release in dl_ctrl.releases" class="release-download">
		<div class="cover-wrapper">
			<div class="cover"
				ng-style="release.cover.cover.thumb.url | backgroundImage"></div>
		</div>

		<div class="info-wrapper">
			<div class="release-info">
				{{release.artist}} — {{release.title}}
				<small ng-if="release.download.format">
					(as {{release.download.format | uppercase}})
				</small>
			</div>
			<div class="download-state">{{release.download.state || "Waiting"}}</div>
			<div class="download-progress">
				<div class="progress-bar"
				ng-class="release.download | progressClass"
				ng-style="release.download.progress | progressWidth"></div>
			</div>
		</div>
	</div>
</div>