<div id="login-overlay">
	<div id="login-vcenter">
		<div id="login-wrapper">
			<div id="login-modal">
				<h1>The Drip Downloader</h1>
				<form ng-submit="login_ctrl.login()">
					<div class="error"
						ng-show="login_ctrl.message">{{login_ctrl.message}}</div>
					<md-text-float label="Your drip.fm email" ng-model="login_ctrl.user.email"></md-text-float>
					<md-text-float label="Your drip.fm password" ng-model="login_ctrl.user.password" type="password"></md-text-float>
					<md-button class="md-raised md-primary">Log in!</md-button>
				</form>
			</div>
		</div>
	</div>
</div>