<div id="login-overlay">
	<div id="login-vcenter">
		<div id="login-wrapper">
			<div id="login-modal">
				<h1>The Drip Downloader</h1>
				<form ng-submit="login_ctrl.login()">
					<div class="error"
						ng-show="login_ctrl.message">{{login_ctrl.message}}</div>
					<input type="text" placeholder="Your drip.fm email"
						ng-model="login_ctrl.user.email">
					<input type="password" placeholder="Your drip.fm password"
						ng-model="login_ctrl.user.password">
					<button>Log in!</button>
				</form>
			</div>
		</div>
	</div>
</div>