<div id="sidebar">
	<p class="sidebar-text">
		Hi, {{ctrl.user.data.firstname}}!
		<button ng-click="ctrl.logout()">Log out</button>
	</p>
	<div ng-repeat="sub in ctrl.user.data.memberships"
		class="subscription"
		ng-class="{active: $index === 0}">
		<img ng-src="{{sub.creative.avatar_thumb_url}}"
			class="subscription-thumb">
		{{sub.creative.service_name}}
	</div>
</div>
<div id="content">
	<div class="release" ng-repeat="release in ctrl.releases">
		<img class="cover"
			ng-src="{{release.cover.cover.thumb.url}}"
			alt="{{release.title}}"
			title="{{release.title}}">
	</div>
</div>