<md-toolbar md-theme="indigo">
	<div class="md-toolbar-tools">
		<span class="md-flex">
			Settings
		</span>
	</div>
</md-toolbar>

<md-content layout-padding>
	<form name="form" ng-submit="set_ctrl.tryToSave()">
		<div layout="row" layout-padding>
			<div flex>
				<h3>Download directory</h3>
				<md-text-float label="Download directory" disabled required ng-model="set_ctrl.settings.dl_dir"></md-text-float>
				<md-button ng-click="set_ctrl.chooseDownloadDir()"
					class="md-raised md-primary">
					Choose Directory
				</md-button>
			</div>
			
			<div flex>
				<h3>Preferred Format Order <small>(drag &amp; drop)</small></h3>

				<div as-sortable ng-model="set_ctrl.settings.formats">
					<md-card ng-repeat="format in set_ctrl.settings.formats" as-sortable-item class="draggable">
						<div class="drag-handle" as-sortable-item-handle></div>
						<span>{{format | uppercase}}</span>
					</md-card>
				</div>

				<md-button id="save-settings" ng-click="set_ctrl.save()" ng-disabled="form.$invalid"
					class="md-raised md-primary">
					Save Settings
				</md-button>
			</div>
		</div>
	</form>
</md-content>